<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>collegeStd</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

  <script type = "text/javascript" >
    function preventBack()
     {
          console.log("runs")
         window.history.forward(); }
   
   setTimeout("preventBack()", 0);
   window.onunload = function () { null };
      </script>   
    

<nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-bottom: 20px; background-color: gray; ">
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      
      <li class="nav-item" style="margin-right: 500px;">
        <a class="nav-link active" href="#" style="color: indigo;"><b>COLLEGE COMPLAIN</b></a>
      </li>

      <li class="nav-item" >
        <a class="nav-link active li" href="/collegeStd" style="color: indigo;"><b>HOME</b></a>
      </li>

      <li class="nav-item active dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: indigo;">
         <b> COMPLAINS</b>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item li" href="/hostelComplain" style="color: indigo;"><b>Hostel Complain</b></a>
          <a class="dropdown-item li" href="/collegeStd" style="color: indigo;"><b>College Complain</b></a>
         
      </li>

      <li class="nav-item">
        <a class="nav-link active li" href="/myCollege" style="color: indigo;"><b>MY COLLEGE COMPLAINS</b></a>
      </li>


      <li class="nav-item">
        <a class="nav-link active li" href="/composeClg" style="color: indigo;"><b>COMPOSE</b></a>
      </li>

      
      <li class="nav-item">
        <a class="nav-link active li" href="/logout" style="color: indigo;"><b>LOGOUT</b></a>
      </li>

    </ul>
    
  </div>
</nav>
<style>
  .border{
    
    box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        width: 350px;
        height: 330px;
        border: 20px solid #969696;
        background:mediumspringgreen;
        margin: 30px;
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 20px;;
        border: 10px solid #969696;
  }

   
  .li:hover {
      background-color: aquamarine;
      }
 
</style>

<body class="body-color" style="background-color: antiquewhite;">
<!-- <div class="cen" style="margin-left: 30px;"> -->
<% for ( var i = (posts.length-1); i >= 0 ; i--) {  %>
<div class="border"> 
  <p><b>Name: </b><%= posts[i].name %></p>
  <p><b>Title: </b><%= posts[i].title %></p>
  <p><b>Branch:</b> <%= posts[i].branch %></p>
  <p><b>Section:</b><%= posts[i].section %></p>
  <p><b>Year:</b><%= posts[i].year %></p>
  <p><b>Problem:</b> <%= posts[i].content.substring(0,100) + "..."%></p>
   
    <%if (posts[i].reply.length>0) { %>
      <p><b>Teacher Name</b> <%=posts[i].reply[0].teacherName %></p>
      <p><b>Reply </b> <%= posts[i].reply[0].replyMessage %></p>
    <br>
  <% }else{ %>
    No Reply
    <br><br>
  <% } %>
</div>
  <% } %>

</div>
</body>
</html>
